Flask==2.1.2
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.3  # PostgreSQL adapter
Flask-Bcrypt==0.7.1  # For hashing passwords
PyJWT==2.3.0  # JSON Web Tokens
flask_jwt_extended==4.4.3 # For creating access tokens
flask_migrate==3.1.0 # For database migrations
SQLAlchemy==1.4.45 # For database management
